In [ ]:
#gus kingman
#nasa meteor exercise

In [107]:
import requests  #similar to urllib, this library allows a computer to ping a website
import json      #library to handle JSON formatted data
#import pandas pd

In [ ]:
#API: https://data.nasa.gov/resource/gh4g-9sfh.json

In [108]:
#URL to TVMaze API
#this place has data for tv shows
url = r"https://data.nasa.gov/resource/gh4g-9sfh.json"

In [109]:
#get 200
resp = requests.get(url)
resp
#sweet we got 200

In [110]:
#send a request to the website to return back text data from the API
#returns data as JSON string
str_data = resp.text
#str_data

In [ ]:
#lets take a peek
#str_data
#quotation mark at the front means its a string
#yup its a string

In [111]:
#loads function reversed dictionary order
#dictionary objects are unordered in general
MetData = json.loads(str_data)
#MetData

In [112]:
#what are you
#verify that JSON object is one big dictionary
type(MetData)

list

In [ ]:
MetData[0]

In [ ]:
MetData[5]
#okkie dokkie the list has the same structure

In [ ]:
type(MetData[0])

In [ ]:
#find dem keys
MetData[0].keys()

In [ ]:
MetData[0]['year']

In [ ]:
MetData[0]['geolocation']

In [ ]:
MetData[0]['mass']

In [113]:
def cleanText(text):
    import re
            #
            #lookig for angle bracket, those characters between the set of angle brackets are to help look for stuff
    clean = re.compile('<.*?>') #regular expression that looks for any pattern in a string that has <>
    
    # .sub =  what to replace the pattern with 
    return re.sub(clean, '', text)

In [114]:
#set empty lists to hold each feature's information

name_ls = [] #
id_ls = [] #ID
nametype_ls = []  #e
recclass_ls = []   
mass_ls = []   #ai
fall_ls = []    
year_ls = []  #s
lat_ls = [] 
long_ls = []
geolocation_ls = []

for meteor in MetData:
    
    try: name_ls = meteor['name']
    except: name_ls = None
    
    try: name_ls = meteor['name']
    except: name_ls = None

for meteor in MetData:
    
    try: name = meteor['name']
    except: name = None
    try: id_ls = meteor['id']
    except: id_ls = None
    try: nametype_ls = meteor['nametype']
    except: nametype_ls = None
    try: recclass_ls = meteor['recclass']
    except: recclass_ls = None
    try: mass_ls = meteor['mass']
    except: mass_ls = None
    try: fall_ls = meteor['fall']
    except: fall_ls = None
    try: year_ls = meteor['year']
    except: year_ls = None
          try: reclat_ls = meteor['reclat']
    except: reclat_ls = None
          try: reclong_ls = meteor['reclong']
    except: reclong_ls = None
          try: geolocation_ls = meteor['geolocation']
    except: geolocation_ls = None

for meteor in MetData:
    try: theid = meteor['id']
    except: theid = None

    
    id_ls.append(meteor['id'])

for meteor in MetData:
    try: year = meteor['year']
    except: year = None
        
year_ls.append(meteor['year'])

  for meteor in MetData:
    try: fall = meteor['fall']
    except: fall = None
    fall_ls.append(meteor['fall'])

ID
Year
Fall
Name
Name Type
Mass
Latitude
Longitude

In [115]:
for meteor in MetData:
    
    try: name = meteor['name']
    except: name = None
    try: theid = meteor['id']
    except: theid = None
    try: nametype = meteor['nametype']
    except: nametype = None
    try: recclass = meteor['recclass']
    except: recclass = None
    try: mass = meteor['mass']
    except: mass = None
    try: fall = meteor['fall']
    except: fall = None
    try: year = meteor['year']
    except: year = None
    try: reclat = meteor['reclat']
    except: reclat = None
    try: reclong = meteor['reclong']
    except: reclong = None
    try: geolocation = meteor['geolocation']
    except: geolocation = None
        
    name_ls.append(name)
    theid_ls.append(meteor['id']) 
    nametype_ls.append(meteor['nametype']) 
    recclass_ls.append(meteor['recclass'])    
    mass_ls.append(mass)
    fall_ls.append(meteor['fall'])  
    year_ls.append(year) 
    lat_ls.append(reclat) 
    long_ls.append(reclong) 
    geolocation_ls.append('geolocation')

In [ ]:
reclat_ls

In [116]:
TWDlist = list(zip(theid_ls, year_ls, fall_ls, name_ls, nametype_ls, mass_ls, lat_ls,  long_ls,))

colnames = ['id', 'year', 'fall', 'name', 'nametype', 'mass', 'lat', 'long']

In [117]:
import pandas as pd

df = pd.DataFrame(TWDlist, columns=colnames)

df.head()

,id,year,fall,name,nametype,mass,lat,long
0,1,1880-01-01T00:00:00.000,Fell,Aachen,Valid,21,50.775000,6.083330
1,2,1951-01-01T00:00:00.000,Fell,Aarhus,Valid,720,56.183330,10.233330
2,6,1952-01-01T00:00:00.000,Fell,Abee,Valid,107000,54.216670,-113.000000
3,10,1976-01-01T00:00:00.000,Fell,Acapulco,Valid,1914,16.883330,-99.900000
4,370,1902-01-01T00:00:00.000,Fell,Achiras,Valid,780,-33.166670,-64.950000